[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"
asyncpg = "*"
fastapi = "*"
hypercorn = "*"
tortoise-orm = "*"
python-multipart = "*"
itsdangerous = "*"
asgi-csrf = "*"

[dev-packages]
black = "*"
rope = "*"
flake8 = "*"

[requires]
python_version = "3.10"
